@font-face {
    font-family: "TT Lakes";
    src: url(../assets/TTLakes/TTLakes-Bold.ttf);
}

@font-face {
    font-family: "TT Lakes Light";
    src: url(../assets/TTLakes/TTLakes-Light.ttf);
}

@font-face {
    font-family: "TT Lakes Medium";
    src: url(../assets/TTLakes/TTLakes-Medium.ttf);
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}


/* Header */

.brend-wrapper {
    padding: 16px;
}

.brend-text {
    font-family: "TT Lakes Light";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
    margin-bottom: 32px;
    text-transform: uppercase;
    border-top: 1px solid #D9FFF5;
    margin-top: 40px;
}

.swiper {
    width: 100%;
    height: 110px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    margin-right: 16px;
    justify-content:space-between;
    align-items: center;
    border-radius: 6px; 
    border: 1px #EAEAEA solid;
    width: 240px;
    height: 72px;

  }

  .swiper-slide img {
    display: block;
    object-fit: cover;
    margin-left: 16px;
  }
  .brend-item__svg{
    margin-right: 16px;
  }


  .brend-list,
  .main__button{
    display: none;
  }
  .swiper {
    position: relative;
   }

.swiper-pagination {
    position: absolute;
    left: 50%!important;
    transform: translateX(-50%);
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: #DDDDDD;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
}

.swiper-pagination-bullet-active {
    background: #B5B6BC;
}

@media (min-width: 768px) {
    .brend-wrapper {
        max-width: 720px;
    }
    .brend-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 16px;
    }
    .brend-item {
        min-width: 224px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
        border-radius: 6px;
        border: 1px solid #EAEAEA;
        background: #FFF;
        box-sizing: border-box;
    }
    .brend-item:nth-child(n+7) {
        display: none;
    }
    .brend-list.visible .brend-item:nth-child(n+7) {
        display: flex;
    }
    .main__button {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 24px;
        gap: 16px;
    }
    .main__description_btn {
        font-family: "TT Lakes Medium";
        font-size: 14px;
        line-height: 24px;
        background: none;
        border: none;
        text-align: left;
    }
    .main__description_png {
        width: 7px;
        height: 10px;
    }
    .swiper {
        display: none;
    }
}

@media (min-width: 1140px) {
  
    .brend-wrapper {
        max-width: 1056px;
    }
    .brend-item {
        display: flex;
        flex-wrap: wrap;
    }
    .brend-item:nth-child(n+9) {
        display: flex;
    }
    .brend-list.visible .brend-item:nth-child(n+9) {
        display: flex;
    }
    .swiper {
        display: none ;
    }
}